*{
    padding: 0%;
    margin: 0%;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #F5F5F5;
}
html{
    scroll-behavior: smooth;
}
#home{
    height: 100vh;
    width: 100vw;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #F5F5F5;
    position: fixed;
}
.portfolio{
    font-size: 2vw;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 630;
    font-size: 1vw;
}
.links{
    display: flex;
    gap: 2vw;
}
span{
    padding-right: 1vw;
}
.a1:hover{
    border-bottom: 3px solid #FD185A;
}
.a2:hover{
    border-bottom: 3px solid #78BDB8;
}
.a3:hover{
    border-bottom: 3px solid #5E1415;
}
.a4:hover{
    border-bottom: 3px solid #D93F41;
}
.a5:hover{
    border-bottom: 3px solid #FEC752;
}
.hero{
    display: flex;
    height: calc(100% - 60px);
    
}
.hero_left{
    width: 50%;
    padding-top: 30vh;
}
.hero_right{
    width: 50%;
    padding-top: 4vh;
}
.hero_right>img{
    width: 100%;
}
.noorul{
    font-size: 2vw;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding-left: 15vw;
}
.hero_left_para{
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    padding-left: 11vw;
    width: 82%;
    font-size: 1.1vw;
}
#projects{
    height: 100vh;
}
.Software{
    color: #FEC752;
    padding-right: 5px;
}
.full_stack{
    color: #FD185A;
    padding-right: 2px;
}
.pro_cards{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 11.4vw;
   margin-left: 17px;
   padding-top: 25px;
}
.cards{
    background-color:white;
    border-radius: 1rem;
    height: 42vh;
    width: 18vw;
    padding-left: 4px;
    border: 3px solid rgb(228, 228, 228);
}
.cards:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 8px
    rgba(0,0,0,0.3);
}
.card_heading{
    font-family: "Poppins", sans-serif;
    padding-left: 30%;
}
.card_img{
    height: 30vh;
    width: 17.7vw;
    border-radius: 1rem;
    margin-top: 5px;
}
.card_img>img{
    border-radius: 1rem;
    height: 30vh;
    width: 17.7vw;
}
.card_explore{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 5vh;
    width: 8vw;
    border-radius: 8px;
    margin: auto;
    margin-top: 9px;
}
.card_explore>span{
   color:#657FF6;
   font-family: "Poppins", sans-serif;
   font-weight: 900;
   padding-right: 6px;
}
.fa-solid{
    margin-top: 5px;
}
.card_explore>span:hover{
    color: blue;
    font-size: 1vw;
}
#skills{
    height: 100vh;
    padding-top: 10vh;
}
.skill_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    background-color:white;
    height: 30vh;
    width: 13vw;
    border-radius: 1rem;
    border: 3px solid rgb(228, 228, 228);
}
.skill_logo{
    margin: auto;
    width: 4vw;
    height: 7px;
    border-radius: 1rem;
    margin-top: 1vh;
}
.skill_logo>img{
    width: 100%;
    border-radius: 1rem;
}
.skill_heading{
    font-size: 2vw;
    margin-bottom: 3vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.skill_progress_bar{
   margin-bottom: 2vh;
   font-family: "Fira Code", monospace;
   font-weight: 300;
}
.skill_percent{
    margin-left: 4vw;
}
.skill_head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    padding-top: 25px;
 }
label{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

progress{
    animation: fillProgress 1.5s ease-in-out;
  }
  
  @keyframes fillProgress {
    from {
      width: 0;
    }
    to {
      width: 90%; /* Adjust width dynamically */
    }
}
.skill_cards:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 8px
    rgba(0,0,0,0.3);
}
#education{
    height: 100vh;
}
.edu_section{
    display: flex;
    justify-content: space-around;
    padding-top: 130px;
    padding-left: 11vw;
    width: 80%;
}
.edu_flow{
    /* border-left: #657FF6 solid 4px; */
    border-left: blue solid 4px;
    height: 28vh;
    margin-top: 15vh;
   
}
.edu_flow2{
    margin-left: 3px;
}
.edu_heading{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 3vh;
    margin-left: 40px;
    color: blue;
}
.edu_para{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-top: 3vh;
    width: 70%;
    margin-left: 40px;
}
.edu_about{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 3vh;
    width: 70%;
    margin-left: 60px;
}
.edu_time{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 3vh;
    margin-left: 40px;
    color: gray;
}
#about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_left{
    width: 250px;
    border-radius: 50%;
    gap: 20px;
}
.about_left>img{
    width: 100%;
    border-radius: 50%;
}
.about_right{
    width: 50%;
    gap: 20px;
}
.about_para{
    margin-left: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1vw;
}
.about_list{
    font-family: "Poppins", serif;
    margin-left: 60px;
    margin-top: 10px;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color:#F5F5F5;
}
.foot_section{
    background-color:white;
    padding: 5px;
    border-radius: 5px;
}
.foot_section>p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.foot_icon{
    display: flex;
    justify-content:space-around;
    font-size: 6px;
}

@media (max-width:600px){
    #home{
        height: 684px;
    }
    .portfolio{
        font-size: 4vw;
    }
    a{
        font-size: 2vw;
    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    .hero_left{
        height: 100px;
        width: 100%;
        padding-top: 3vh;
    }
    .noorul{
        font-size: 3vw;
        font-weight: 900;
    }
    .hero_left_para{
        font-weight: 800;
        font-size: 2.1vw;
    }
    .hero_right{
        height: 300px;
        width: 350px;
        padding-top: 0;
    }
    #projects{
        height: 272vh;
    }
    .pro_cards{
        flex-direction: column;
    }
    .cards{
        width: 66vw;
    }
    .card_heading{
        font-size: 5vw;
    }
    .card_img{
        width: 64.7vw;
        background-color: white;
    }
    .card_img>img{
        width: 64.7vw;
    }
    #education{
        height: 154vh;
    }
    .edu_section{
        flex-direction: column;
    }
    #skills{
        height: 253vh;
    }
    .skill_head{
        flex-direction: column;
    }
    .skill_cards{
        width: 69vw;
    }
    .skill_logo{
        width: 17vw;
    }
    .skill_heading{
        font-size: 8vw;
    }
    progress{
        width: 54vw;
        height: 2vh;
    }
    label{
        gap: 111px;
        font-weight: 500;
    }
    #about{
        flex-direction: column;
        height: 126vh;
    }
    .about_right{
        width: 80%;
        margin-top: 3vh;
    }
    .about_para{
        font-weight: 700;
        font-size: 3.2vw;
        width: 100%;
        margin-left: 15px;
    }
}
@media (min-width: 600px) and (max-width: 1200px){
    #home{
        height: 97vh;
    }
    .hero_left{
        padding-top: 21vh;
    }
    .hero_right{
        padding-top: 11vh;
    }
    .hero_left_para{
        font-size: 13px;
    }
    #projects{
        height: 67vh;
    }
    .cards{
        width: 23vw;
        height: 38vh;
    }
    .card_img{
        width: 21.7vw;
        height: 26vh;
        background-color: white;
    }
    .card_img>img{
        width: 21.7vw;
        height: 26vh;
    }
    #education{
        height: 145vh;
    }
    .edu_section{
        flex-direction: column;
    }
    .edu_para{
        font-size: 25px;
    }
    .edu_time{
        font-size: 24px;
        font-weight: 600;
    }
    .edu_about{
        font-size: 19px;
    }
    #skills{
        height: 476vh;
    }
    .skill_head{
        flex-direction: column;
    }
    .skill_cards{
        width: 55vw;
        height: 52vh;
    }
    .skill_logo{
        width: 11vw;
    }
    .skill_heading{
        font-size: 6vw;
    }
    .skill_progress_bar{
        width: 39vw;
    }
    label{
        font-size: 2vw;
    }
    progress{
        width: 40vw;
    }
    #about{

    }
    .about_para{
        font-weight: 700;
        font-size: 19px;
    }
    .about_list{
        margin-top: 19px;
    }
    .foot_section>p{
        font-size: 3vw;
    }
}